@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  background-color: rgb(43, 155, 189);
}

.customShadow {
  text-shadow: 3px 3px 3px black;
}

.navbar-light .navbar-nav .navLink2 {
  color: white;
  font-size: 1.5rem;
  text-shadow: 3px 3px 3px black;
}

.navbar-light .navbar-nav .navLink2:hover {
  color: rgb(105, 181, 243);
  text-shadow: 3px 3px 3px black;
}

.custom-bg-image {
  background: linear-gradient(to right, #0000009c, #0000009c),
    url('../img/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 83vh;
}

.custom-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.custom-text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.custom-text-container p {
  font-size: 1.5rem;
  max-width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 3px black;
}

.projectSectionTitle {
  font-size: 1.9rem;
  line-height: 1.5;
  font-weight: 500;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

.customProjectCardHeight {
  height: 22rem;
}

.contactFont {
  font-size: 1.4rem;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.contactFont:hover {
  color: rgb(105, 181, 243);
  text-shadow: 3px 3px 3px black;
}

.footerFont {
  font-size: 1rem;
  color: white;
  text-shadow: 3px 3px 3px black;
}

@media screen and (max-width: 767px) {
  .custom-bg-image {
    height: 50vh;
  }

  .custom-text-container h1 {
    font-size: 2.1rem;
  }

  .custom-text-container p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .custom-bg-image {
    height: 61vh;
  }
}
